<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JulioperezA01793880/blob/main/Copia_de_Modulo4_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Modulo 4 Ibm, aqui estamos practicando lectura de archivos, se hizo practicas en jupiter notebook. 
para comprender mejor el la informacion cree un aarchivo en le escritorio y lo abri y lei desde python.

In [ ]:
import pandas as pd
archi1=open(r"C:\Users\Gabi\Desktop\prueba python.txt","r")
contenido=archi1.read()
print(contenido)
archi1.close()

Ahora por medio del codigo abajo escribimos en modo agregar sobre un archivo local ubicado en el escritorio escribimo un "hola mundo 2" y el archivo de texto aparecio el hola mundo 2.

In [ ]:
archi1=open(r"C:\Users\Gabi\Desktop\prueba python.txt","a")
contenido=archi1.write(" hola mundo 2 \n")
archi1=open(r"C:\Users\Gabi\Desktop\prueba python.txt","r")
contenido=archi1.read()
print(contenido)
archi1.close()

Ahora, comienzo a practicar con datos atraves de datos, traigo de github el archivo scv usado el laboratoria de jupiter notebook usado en el curso ibm, y muestro todos los datos.

In [ ]:
import pandas as pd

print("hola")
df=pd.read_csv('https://raw.githubusercontent.com/hannansatopay/DSML/master/TopSellingAlbums.csv')
df

hola

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

ahora mostramos las 5 primeras filas con el funcion head.

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/hannansatopay/DSML/master/TopSellingAlbums.csv')
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

ahora vamos a aceder a diferentes columnas del archivo

Uso de la Libreria pandas

In [ ]:
y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

Con la siguiente funcion accedemos a las columnas y filas que parametricemos con iloc para el caso que sigue se accede a 2 filas, 4 columnas

In [ ]:
df.iloc[0:2, 0:4]

            Artist          Album  Released   Length
0  Michael Jackson       Thriller      1982  0:42:19
1            AC/DC  Back in Black      1980  0:42:11

se almacena en la varible q, la columna rating

In [ ]:
q = df['Rating']
q

0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5
Name: Rating, dtype: float64

se almacen en la variable q las viarable artist y release.

In [ ]:
q = df[['Rating','Artist']]
q

   Rating           Artist
0    10.0  Michael Jackson
1     9.5            AC/DC
2     9.0       Pink Floyd
3     8.5  Whitney Houston
4     8.0        Meat Loaf
5     7.5           Eagles
6     7.0         Bee Gees
7     6.5    Fleetwood Mac

In [ ]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

Practica con pandas para agregar una nueva columna de datos.

In [ ]:
df['letras']=['j','k','l','m','n','p','q','r',]
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating,letras
a,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0,j
b,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5,k
c,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0,l
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5,m
e,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0,n
f,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5,p
g,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0,q
h,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5,r

practica de pandas agregando nueva fila de informacion con la funcion append

In [ ]:
from pandas.io.formats.style_render import DataFrame
nueva_fila={'Artist':'julio','Album':'Victoria','Released':'2022','Length':'00:43','Genre':'Romantic','Music Recording Sales (millions)':'100','Claimed Sales (millions)':'80','Released.1':'1-october-22','Soundtrack':'','Rating':'10','letras':'z'}
df=df.append(nueva_fila,ignore_index=True)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating,letras,artist
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0,j,NaN
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5,k,NaN
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0,l,NaN
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5,m,NaN
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0,n,NaN
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5,p,NaN
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0,q,NaN
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5,r,NaN
8,NaN,Victoria,2022,00:43,Romantic,100,80,1-october-22,,10,z,julio
9,julio,Victoria,2022,00:43,Romantic,100,80,1-october-22,,10,z,NaN
10,julio,Victoria,2022,00:43,Romantic,100,80,1-october-22,,10,z,NaN

In [ ]:
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
a,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
b,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
c,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
e,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
f,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
g,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
h,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [ ]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23



> obtener las 3 primeras filas

In [ ]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

obtener columna a

In [ ]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64